canvas {
    border: 2px solid black;
}

.toolbox {
    display: flex;
    gap: 3px;
}

.tool {
    flex-basis: 50px;
    border: 1px solid black;
    border-radius: 12%;
}

#clear-button {
    background-color: red;
    color: white;
    border: 0px;
}

.utensil {
    background-color: white;
    flex-basis: auto;
}

.active, .active.eraser {
    border: 2px solid black;
}
